@import '../../styles/variables';

// Layout buton
.LayoutButton {
  font-size: 1rem;
  border: none;
  background: $LayoutButtonOnHover;
  padding: 1rem 3.2rem;
  color: white;
  cursor: pointer;
  border-radius: 2em;
  line-height: inherit;
  text-decoration: none;
  outline: none;
  width: auto;
}

@media (min-width: $lg) {
  .LayoutButton {
    background: transparent;
    border: 1px solid white;
    transition: background 0.3s ease-in, transform 0.1s cubic-bezier(0.91, 0.8, 0.54, 1);

    &:hover {
      border: none;
      background: $LayoutButtonOnHover;
      transform: scale(1.05);
    }
  }
}
