{
  "extends": [
    "google",
    "plugin:import/errors",
    "plugin:jsx-a11y/recommended",
    "plugin:react/recommended",
    "plugin:prettier/recommended",
    "prettier/react"
  ],
  "parserOptions": {
    "ecmaVersion": 9,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true,
      "modules": true
    }
  },
  "parser": "babel-eslint",
  "globals": {},
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "plugins": [
    "jsx-a11y",
    "import"
  ],
  "rules": {
    "no-unused-vars": "warn",
    "linebreak-style": "off",
    "import/no-unresolved": "off",
    "react/jsx-filename-extension": [
      "warn",
      {
        "extensions": [
          ".js",
          ".jsx"
        ]
      }
    ],
    "require-jsdoc": "off"
  },
  "settings": {
    "react": {
      "pragma": "React",
      "version": "16.4.2"
    }
  }
}
