@import '../../styles/variables';

.Home {
  height: 100vh;
}

.PlayIcon {
  display: inline-block;
  stroke-width: 0;
  margin: 0 0.4rem;
  cursor: pointer;
  fill: white;
}

.PanelImagePosition {
  background-position-x: -120px;
}

.TitleWrapper {
  position: relative;
  height: 15vh;
  width: 100vw;
  text-shadow: 2px 1px rgba(0, 0, 0, 0.25);
}

.Powerful,
.Unstoppable {
  display: block;
}

.FirstLine {
  position: absolute;
  top: 0;
  left: 32px;
}

.SecondLine {
  position: absolute;
  right: 13px;
  top: 25px;
}

.OurCommunityPanel {
  background-color: #c1ca11;
}

.RegistrationPanel {
  background-color: #fd854f;
}

.VideoPanel {
  background-color: #eaeaea;
}

.ThirdPanelDesc {
  text-align: left;
  line-height: 1.5em;

  ul {
    // list-style-type: decimal;
    list-style: square inside;
  }
}

@media (min-width: $lg) {
  .Home {
    overflow: hidden;
  }

  .PanelImagePosition {
    background-position-x: -50px;
  }
}

@media (min-width: $md) and (max-width: $lg) {
  .TitleWrapper {
    font-size: 1.3em;
  }
}

@media (min-width: $md) {
  .Powerful,
  .Unstoppable {
    display: inline;
  }

  .FirstLine {
    position: relative;
    display: inline;
    top: 0;
    left: 0;
  }

  .SecondLine {
    position: relative;
    display: inline;
    right: 0;
    top: 0;
  }

  .TitleWrapper {
    position: relative;
    height: inherit;
    width: inherit;
  }
}
