@import '../../styles/variables';

.About {
  min-height: 100vh;

  .Open {
    height: 100vh;
  }

  .FixedHeader {
    width: 100%;
    height: 60px;
    position: fixed;
    background: white;
    z-index: 3;
    border-bottom: 1px solid #eae6e6;
  }

  .ContentWrapper {
    padding-top: 80px;
    width: 100vw;
    transition: transform 0.3s ease;

    &.Open {
      transform: translateX(-100%);
    }
  }

  a {
    text-decoration: underline;
  }
}

.AboutPageContent {
  position: relative;
  padding-top: 0;
  color: black;
  max-width: 100vw;

  .AboutTitle {
    display: flex;
    flex-direction: column;
    padding: 0 2em;

    h1 {
      margin: 0;
      font-weight: 300;
      text-transform: uppercase;

      span {
        font-weight: 700;
      }
    }

    .BottomLine {
      width: 85px;
      height: 2px;
      background: black;
      margin-top: 0.3em;
    }
  }

  .AboutImg {
    background-image: url('Images/about.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.8;
    width: auto;
    height: auto;
    min-height: 30vh;
    margin: 1em 0;
    position: relative;
  }

  .Content {
    font-size: 1.25em;
    line-height: 1.2em;
    margin: 0;
    padding: 0 2em;
  }
}

.BottomContent {
  font-size: 1.25em;
  line-height: 1.2em;
  padding: 0 2em;
  margin-bottom: 30px;
  color: #000;

  h3 {
    margin-top: 2em;
  }

  .TeamWrapper h4 {
    text-decoration: underline;
  }
}

@media (min-width: $lg) {
  .About {
    .FixedHeader {
      height: 110px;
      border-bottom: 0;
    }

    .ContentWrapper {
      height: 100vh;
      transition: none;

      &.Open {
        transform: none;
      }
    }
  }

  .AboutPageContent {
    position: relative;
    padding: 3em 0;
    height: 100%;
    max-width: 65vw;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    width: 100%;

    .AboutTitle {
      position: absolute;
      left: -150px;
      top: 120px;
      z-index: 1;
      font-size: 1.5em;
      padding: 0;

      h1 {
        font-weight: bold;
        span {
          font-weight: normal;
        }
      }

      .BottomLine {
        width: 135px;
      }
    }

    .AboutImg {
      opacity: 1;
      width: 100%;
      height: auto;
    }

    .AboutUsContent {
      position: absolute;
      right: -140px;
      top: 80px;
      width: 16em;

      p {
        margin-bottom: 1em;
      }
    }
  }

  .BottomContent {
    padding: 0 2em 3em 2em;
    max-width: 70vw;
    margin: 0 auto;

    h3 {
      margin-top: 3em;
    }
  }

  .Team h3 {
    margin-bottom: 0;
  }

  .TeamWrapper {
    display: flex;

    div:first-child {
      margin-right: 65px;
    }
  }
}

@media (max-width: 1120px) and (min-width: $lg) {
  .About {
    .AboutPageContent {
      .AboutImg {
        opacity: 0.4;
        transition: 0.2s ease;
      }

      .AboutUsContent {
        left: 70%;
        font-size: 15px;
        width: 18em;
        transition: 0.2s ease;
        top: 7em;
      }
    }
  }
}
