@import '../../styles/variables';

.Player {
  height: 100%;
  background: #eae6e3;
}

.CloseVideo {
  position: fixed;
  stroke-width: 0;
  stroke: currentColor;
  fill: white;
  z-index: 9;
  width: 30px;
  top: 4em;
  right: 20px;
}

@media (min-width: $lg) {
  .CloseVideo {
    width: 50px;
    top: 45px;
    right: 50px;
  }
}
