@import '../../styles/variables';

.Player {
  height: 100%;
  background: #eae6e3;
}

.CloseVideo {
  position: fixed;
  stroke-width: 0;
  stroke: currentColor;
  fill: white;
  z-index: 9;
  width: 40px;
  top: 13px;
  right: 20px;
}

.SignUpInVideo {
  display: block;
  height: 30px;
  line-height: 30px;
  padding: 0;
  margin: 40px auto;
  width: 100%;
}

@media (min-width: $lg) {
  .CloseVideo {
    width: 50px;
    top: 15px;
    right: 50px;
  }

  .SignUpInVideo {
    display: none;
  }
}
