*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  background: #fff;
  font-family: 'Roboto', sans-serif;
  font-size: 0.9rem;
  line-height: 1.141;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0;
  text-transform: none;
  color: #fff;
  touch-action: manipulation;
  -webkit-overflow-scrolling: touch;
}

body.modal-open {
  overflow: hidden;
}
