html,
body {
  font-size: 1rem;
  line-height: 1.4;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0;
  text-transform: none;
  color: white;
  background: transparent;
  font-family: 'Nunito', sans-serif;
  font-family: 'Marcellus SC', serif;
  overflow-x: hidden;
}
