// Media Queries
$xs: 320px;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;

$lg-height: 800px;

// Layout
$nav-width: 34rem;

$body-bg: #eec8b9;
$menu-links: #b3b3b3;
$menu-links-hover: #ff5a60;
$leftLayoutBackground: #eec8b9;
$rightBottomLayoutBackground: #e9b69f;
$rightHalfTopLayoutBackground: #000;
$LayoutButtonOnHover: #ff646a;
// $CharityPrimaryColor: #00bf46;
// $CharityTextColor: #1c7323;
$CharityPrimaryColor: #444;
$CharityTextColor: #444;

// z-index
$overlay-zindex: 15;
$logo-zindex: 25;
$nav-zindex: 25;
$nav-toggle-zindex: 25;
