@import '../../styles/variables';

.Nav {
  position: fixed;
  width: 100%;
  left: 100%;
  padding: 1.5rem;
  z-index: $nav-zindex;
  top: 0;
  transform: translate(0, 0, 0);
  transition: transform 0.25s ease;
  background-color: white;
  color: $menu-links;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;

  &.navOpen {
    transform: translateX(-100%);
  }
}

.Small {
  font-size: 0.87rem;
  color: #ccc;
  display: block;
  margin-bottom: 15px;
  padding: 0;
  text-decoration: none;
  font-weight: 600;
  cursor: pointer;

  &:hover {
    color: $menu-links-hover;
  }
}

.LinkActive {
  color: $menu-links-hover;
  text-decoration: none;
}

.PopupQuestion {
  color: black;
  margin: 0;
}

.PopupDescription {
  flex: 1;
  color: gray;
  font-size: 1rem;
  text-align: justify;
}

.PopupBtnWrapper {
  display: flex;
  justify-content: center;
  a {
    margin-right: 15px;
  }
}

.PopupBtn {
  text-decoration: none;
  background: #ff5a60;
  padding: 5px;
  border-radius: 5px;
  color: white;
  border: none;
  width: 70px;
  text-align: center;
  cursor: pointer;

  &:focus {
    outline: none;
  }
}

.ModalContentWrapper {
  height: 130px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

@media (min-width: $lg) {
  .Nav {
    width: $nav-width;
    padding: 2.5rem 4.5rem;
    overflow-y: hidden;

    &.navOpen {
      transform: translateX(-$nav-width);
      padding: 2.5rem 4.5rem;
    }
  }

  .ModalContentWrapper {
    width: 450px;
  }

  .PopupBtn {
    &:hover {
      opacity: 0.8;
    }
  }
}
