@import '../../styles/variables';

.Nav {
  position: absolute;
  width: 100%;
  left: 100%;
  padding: 1.5rem 2.5rem;
  z-index: $nav-zindex;
  top: 0;
  transition: transform 0.25s ease ;
  background-color: white;
  color: $menu-links;
  height: 100vh;

  &.navOpen {
    transform: translateX(-100%);
  }

  .mainLinks {
    font-weight: bold;
    line-height: 2;
    font-size: 2rem;
    padding-top: 60px;

    .link {

      &:hover {
        color: $menu-links-hover;
      }
    }
  }
}

@media (min-width: $lg) {
  .Nav {
    width: $nav-width;
    padding: 2.5rem 4.5rem;

    &.navOpen {
      transform: translateX(-$nav-width);
      padding: 2.5rem 4.5rem;
    }
  }
}

