@import '../../styles/variables';

.Nav {
  position: fixed;
  width: 100%;
  left: 100%;
  padding: 1.5rem;
  z-index: $nav-zindex;
  top: 0;
  transition: transform 0.25s ease;
  background-color: white;
  color: $menu-links;
  height: 100vh;
  display: flex;
  flex-direction: column;

  &.navOpen {
    transform: translateX(-100%);
  }
}

.SmallWrap {
  display: flex;
  justify-content: space-between;
}

.Logout {
  font-size: 0.87rem;
  color: #ccc;
  display: block;
  margin-bottom: 1.0;
  padding: 0;
  margin-bottom: 1.15rem;
  text-decoration: none;
  font-weight: 600;

  &:hover {
    color: $menu-links-hover;
  }
}

.SocialIcons {
  display: flex;

  .Icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
    margin: 0 0.4rem;
    cursor: pointer;
    color: #ccc;

    &.Facebook:hover {
      color: #3b5999;
    }

    &.Twitter:hover {
      color: #55acee;
    }

    &.Instagram:hover {
      color: #e4405f;
  }

    &.Medium:hover {
      color: #02b875;
    }
  }
}

.LinkActive {
  color: $menu-links-hover;
  text-decoration: none;
}

@media (min-width: $lg) {
  .Nav {
    width: $nav-width;
    padding: 2.5rem 4.5rem;

    &.navOpen {
      transform: translateX(-$nav-width);
      padding: 2.5rem 4.5rem;
    }
  }
}
