@import '../../styles/variables';

.NavFooter {
  color: #ccc;
  width: 100%;
  padding-bottom: 65px;
}

.BottomRow {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .Rights {
      letter-spacing: -1px;
      font-size: 0.8rem;
      font-weight: bold;
    }

}
.Small {
  font-size: 0.87rem;
  color: #ccc;
  display: block;
  padding: 0;
  text-decoration: none;
  font-weight: 600;

  &:hover {
    color: $menu-links-hover;
  }
}

@media (min-width: $lg) {
  .NavFooter {
    padding-bottom: 0;
  }
}
