@import '../../styles/variables';

.NavMenuLink {
  color: #b3b3b3;
  font-weight: bolder;
  line-height: 1.3;
  text-decoration: none;
  font-size: 1.4rem;
  padding: 0;
  letter-spacing: -1px;

  &:hover {
    color: $menu-links-hover;
  }
}

.LinkActive {
  color: $menu-links-hover;
  text-decoration: none;
}

@media (min-width: $lg) {
  .NavMenuLink {
    font-size: 1.85rem;
    padding: 0.9rem 0;
  }

  .Small {
    font-size: 0.9rem;
    margin-bottom: 2.5rem;
    padding: 0;
  }
}
