@import '../../styles/variables';

.Email {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #000;
  font-size: 1.5em;
  margin: 0 auto;

  .Title {
    padding-right: 20px;
  }
}

.Icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: #aaa;
  position: absolute;
  top: 10px;
  left: 10px;
}
.NameInputWrapper {
  width: 100%;
  height: 40px;
  position: relative;
  margin-top: 5px;
}

.EmailInputWrapper {
  width: 100%;
  height: 40px;
  position: relative;
  margin-top: 5px;
}

.CheckboxInputWrapper {
  position: relative;
  padding: 1em 0;
  display: flex;
  align-items: flex-start;
  width: 100%;

  .CheckboxInput {
    width: 2rem;
    height: 1.6rem;
    margin-right: 10px;
    cursor: pointer;
  }

  .Label {
    display: flex;
  }

  .Control {
    font-size: 18px;
    position: relative;
    display: block;
    margin-bottom: 15px;
    padding-left: 30px;
    cursor: pointer;
  }

  .Control input {
    position: absolute;
    z-index: -1;
    opacity: 0;
  }

  .ControlIndicator {
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    background: #e6e6e6;
    border-radius: 50%;
  }

  /* Hover and focus states */
  .Control:hover input ~ .ControlIndicator,
  .Control input:focus ~ .ControlIndicator {
    background: #ccc;
  }

  /* Checked state */
  .Control input:checked ~ .ControlIndicator {
    background: #2aa1c0;
  }

  /* Hover state whilst checked */
  .Control:hover input:not([disabled]):checked ~ .ControlIndicator,
  .Control input:checked:focus ~ .ControlIndicator {
    background: #4267b2;
  }

  /* Disabled state */
  .Control input:disabled ~ .ControlIndicator {
    pointer-events: none;
    opacity: 0.6;
    background: #e6e6e6;
  }

  /* Check mark */
  .ControlIndicator:after {
    position: absolute;
    display: none;
    content: '';
  }

  /* Show check mark */
  .Control input:checked ~ .ControlIndicator:after {
    display: block;
  }

  /* Checkbox tick */
  .Control .ControlIndicator:after {
    top: 4px;
    left: 8px;
    width: 5px;
    height: 10px;
    transform: rotate(45deg);
    border: solid #fff;
    border-width: 0 2px 2px 0;
  }

  /* Disabled tick colour */
  .Control input:disabled ~ .ControlIndicator:after {
    border-color: #7b7b7b;
  }

  .TermsText {
    cursor: pointer;
    font-size: 1rem;
    line-height: 1.5rem;
  }
}

.NameInput {
  width: 100%;
  outline: none;
  padding: 0;
  border: 1px solid #d8d8d8;
  color: #585858;
  font-size: 0.7em;
  height: 40px;
}

.NameInput::placeholder {
  color: #aaaaaa;
}

.EmailInput {
  width: 100%;
  outline: none;
  padding: 0;
  border: 1px solid #d8d8d8;
  color: #585858;
  font-size: 0.7em;
  height: 40px;
}

.EmailInput::placeholder {
  color: #aaaaaa;
}

.EmailInputWrapper input[type='email'] {
  padding-left: 40px;

  &:focus {
    border-color: #f18340;
  }

  &.InvalidEmail:focus {
    border-color: #f86767;
  }
}

.NameInputWrapper input[type='text'] {
  padding-left: 40px;

  &:focus {
    border-color: #f18340;
  }
}

.NameInputWrapper input[type='text']:focus + svg {
  fill: #f18340;
}

.EmailInputWrapper input[type='email']:focus + svg {
  fill: #f18340;
}

.EmailInputWrapper input[type='email']:focus.InvalidEmail + svg {
  fill: #f86767;
}

.InvalidEmail {
  color: #f86767;
}

.InvalidText {
  width: 100%;
  color: #f86767;
  font-weight: bold;
  font-size: 0.7em;
  margin-top: 10px;
  line-height: 13px;
}

.ErrorText {
  text-align: center;
  width: 100%;
  margin: 10px;
  color: #f86767;
  font-weight: bold;
  font-size: 0.7em;
}

.Subscribe {
  width: 100%;
  height: 40px;
  margin-top: 0.5em;
  padding: 0.5em;
  font-size: 0.7em;
  color: #fff;
  cursor: pointer;
  background: #f18340;
  border: 1px solid #f18340;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.DisableButton {
  background: #ccc;
  opacity: 0.85;
  border: 1px solid #ccc;
  transition: none;
  cursor: not-allowed;

  &:active {
    background: #ccc;
  }
}

.ErrorWrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-weight: bold;
  margin-top: 15px;
  font-size: 0.7em;
  color: #f86767;
}

@media (min-width: $lg) {
  .Subscribe {
    &:active {
      background: #f56d1b;
      border-color: #f56d1b;
      outline: 0;
    }
  }

  .DisableButton {
    &:active {
      background: #ccc;
      border-color: #ccc;
    }
  }

  .CheckboxInputWrapper {
    .CheckboxInput {
      height: 1.4rem;
      margin-right: 5px;
    }

    .TermsText {
      font-size: 0.9rem;
    }
  }
}
