@import '../../styles/variables';

.Email {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #000;
  font-size: 1.5em;
  margin: 0 auto;

  .Title {
    padding-right: 20px;
  }
}

.Icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: #aaa;
  position: absolute;
  top: 11px;
  left: 10px;
  transition: 0.3s ease;
}

.EmailInputWrapper {
  width: 100%;
  height: 40px;
  position: relative;
}

.EmailInput {
  width: 100%;
  outline: none;
  padding: 10px;
  border: 1px solid #d8d8d8;
  border-radius: 0.2em;
  color: #585858;
  font-size: 0.7em;
  line-height: 0.7em;
}

.EmailInput::placeholder {
  color: #aaaaaa;
}

.EmailInputWrapper input[type='email'] {
  padding-left: 40px;

  &:focus {
    border-color: dodgerblue;
  }

  &.InvalidEmail:focus {
    border-color: #f86767;
  }
}

.EmailInputWrapper input[type='email']:focus + svg {
  fill: dodgerblue;
}

.EmailInputWrapper input[type='email']:focus.InvalidEmail + svg {
  fill: #f86767;
}

.InvalidEmail {
  color: #f86767;
}

.InvalidText {
  color: #f86767;
  font-weight: bold;
  font-size: 0.7em;
  margin-top: 25px;
}

.Subscribe {
  width: 100%;
  height: 40px;
  margin-top: 0.5em;
  padding: 0.5em;
  font-size: 0.7em;
  color: #fff;
  cursor: pointer;
  background: dodgerblue;
  border: 1px solid dodgerblue;
  border-radius: 0.2em;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.DisableButton {
  background: #ccc;
  opacity: 0.85;
  border: 1px solid #ccc;
}

.LoadingButton {
  pointer-events: none;
  // TODO: animation
}

.SuccessButton,
.SuccessInputWrapper {
  display: none;
}

.SuccesWrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: bold;
  font-size: 1.2em;
  color: #2bb673;
}

.SuccesText {
  color: #656565;
  font-size: 0.6em;
  margin-top: 25px;
  font-weight: 400;
  text-align: center;
}

@media (min-width: $lg) {
  .Subscribe {
    &:hover,
    &:focus {
      opacity: 0.8;
    }

    &:active {
      opacity: 1;
      background: #3d73da;
      border-color: #3d73da;
      outline: 0;
    }
  }
}
