@import '../../styles/variables';

.Logo {
  position: fixed;
  left: 15px;
  top: 25px;
  z-index: $logo-zindex;

  img {
    max-width: 100px;
  }
}

@media (min-width: $lg) {
  .Logo {
    left: 50px;
    top: 30px;

    img {
      max-width: 150px;
    }
  }
}
