@import '../../styles/variables';

.PlayerContainer {
  position: relative;
  width: 100%;
  overflow: hidden;
  margin-top: 70px;
  height: auto;
  overflow: hidden;
}

.MainVideo {
  width: 100%;
}

@media (min-width: $lg) {
  .PlayerContainer {
    margin-top: 80px;
    height: calc(100vh - 80px);
    overflow: hidden;

    & > div {
      height: 100%;
    }
  }

  .MainVideo {
    height: 100%;
  }
}
