@import '../../styles/variables';

.FAQ {
  min-height: 100vh;

  .Open {
    height: 100vh;
  }

  .FixedHeader {
    width: 100%;
    height: 100px;
    position: fixed;
    background: white;
    z-index: 3;
    border-bottom: 1px solid #eae6e6;
  }

  .ContentWrapper {
    padding-top: 110px;
    width: 100vw;
    transition: transform 0.3s ease;

    &.Open {
      transform: translateX(-100%);
    }
  }
}

.FAQPageContent {
  position: relative;
  padding: 3em;
  color: black;
  padding: 3em 0 1em 0;
  max-width: 100vw;

  .FAQTitle {
    display: flex;
    flex-direction: column;
    padding: 0 2em;

    h1 {
      margin: 0;
      font-weight: 300;
      text-transform: uppercase;
      font-size: 1.5em;

      span {
        font-weight: 700;
      }
    }

    .BottomLine {
      width: 85px;
      height: 2px;
      background: black;
      margin-top: 0.3em;
    }
  }

  .FAQImg {
    background-image: url('Images/hands-full.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.8;
    width: auto;
    height: auto;
    min-height: 30vh;
    margin: 2em 0;
    position: relative;
  }
}

.Content {
  font-size: 1.25em;
  line-height: 1.2em;
  padding: 0 2em;
  margin-bottom: 30px;
  color: #000;

  .Answer {
    margin-bottom: 2em;
  }

  span {
    font-weight: 700;
  }
}

@media (min-width: $lg) {
  .FAQ {
    .FixedHeader {
      border-bottom: 0;
    }

    .ContentWrapper {
      height: 100vh;
      transition: none;

      &.Open {
        transform: none;
      }
    }
  }

  .FAQPageContent {
    position: relative;
    padding: 3em 0;
    height: 100%;
    max-width: 65vw;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    width: 100%;

    .FAQTitle {
      position: absolute;
      left: -150px;
      top: 120px;
      z-index: 1;
      font-size: 1.5em;
      padding: 0;

      h1 {
        font-weight: bold;
        font-size: 2em;
        span {
          font-weight: normal;
        }
      }
    }

    .FAQImg {
      opacity: 1;
      width: 100%;
      height: auto;
    }
  }

  .Content {
    padding: 0 2em 3em 2em;
    max-width: 70vw;
    margin: 0 auto;
  }
}
