.NavToggle {
  width: 27px;
  height: 23px;
  cursor: pointer;
  margin-right: 2em;
  padding: 25px;

  &:hover .line {
    &:first-child {
      width: 22px;
    }

    &:nth-child(2) {
      width: 23px;
      margin-left: 4px;
    }
  }

  .line {
    width: 100%;
    height: 3px;
    display: block;
    margin-bottom: 6px;
    background: white;
    border-radius: 2px;
    position: relative;
    top: 0;
    transition: margin 0.3s, width 0.3s, background 0.3s 0.3s;

    &:last-child {
      margin: 0;
    }
  }
}

