@import '../../styles/variables';

.Container {
  width: 100%;
  margin: 0 auto;
  padding: 80px 0 0;
}

.Signup {
  min-height: 100vh;
  font-size: 14px;
  color: #000;
  background: #fbfbfb;

  .FixedHeader {
    width: 100%;
    height: 60px;
    position: fixed;
    background: white;
    z-index: 3;
    border-bottom: 1px solid #eae6e6;
  }

  .StepsTips {
    text-align: center;
    font-size: 1em;
    line-height: 1.4em;
    margin: 2em 0;
  }

  .Or {
    display: block;
    font-size: 1em;
    margin: 1em 0;
    width: 100%;
    text-align: center;
    background: #fbfbfb;
    position: relative;
    color: #ababab;
    z-index: 1;
    overflow: hidden;

    &::before {
      content: '\a0';
      width: 50%;
      top: 51%;
      overflow: hidden;
      height: 1px;
      background-color: #d0d0d0;
      position: absolute;
      margin-left: -52%;
      text-align: right;
    }

    &::after {
      content: '\a0';
      width: 50%;
      top: 51%;
      overflow: hidden;
      height: 1px;
      background-color: #d0d0d0;
      position: absolute;
      margin-left: 2%;
    }
  }
}

.ResendEmailContainer {
  width: 100%;
  max-width: 350px;
  margin: 0 auto;
  display: block;
  text-align: center;
}

.ResendVerificationButton {
  position: relative;
  border: none;
  padding: 1rem 3.2rem;
  background: $LayoutButtonOnHover;
  color: white;
  cursor: pointer;
  text-decoration: none;
  outline: none;
  margin: 0 auto;
  display: block;
  height: 40px;
  margin-top: 0.5em;
  font-size: 1.1em;
  padding: 0.5em;
  width: 100%;
}

.DisableButton {
  background: #ccc;
  opacity: 0.85;
  border: 1px solid #ccc;
  transition: none;
  cursor: not-allowed;

  &:active {
    background: #ccc;
  }
}

.InvalidText {
  width: 100%;
  color: #f86767;
  font-weight: bold;
  font-size: 1rem;
  display: block;
  margin-top: 30px;
  line-height: 13px;
  text-align: center;
}

.SignupWrap {
  width: 250px;
  margin: 0 auto;
}

.SocialBtnWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;

  a {
    text-decoration: none;
    color: #000;
  }

  .Login {
    box-sizing: border-box;
    position: relative;
    margin: 0.2em;
    padding: 0 15px 0 46px;
    border: none;
    text-align: center;
    line-height: 37px;
    white-space: nowrap;
    font-size: 1em;
    color: #fff;
    width: 100%;

    &:before {
      content: '';
      box-sizing: border-box;
      position: absolute;
      top: 0;
      left: 0;
      width: 39px;
      height: 100%;
    }

    &:focus {
      outline-width: 0;
    }
  }

  /* Facebook */
  .Facebook {
    background-color: #4267b2;
    text-shadow: 0 -1px 0 #354c8c;
  }

  .Facebook:before {
    border-right: #d2d2d2 1px solid;
    background: url('../../assets/icons/icon-facebook.png') center no-repeat;
  }

  /* Google */
  .Google {
    background: #fff;
    color: #6a6a6a;
    border: 1px solid #d2d2d2;
  }

  .Google:before {
    border-right: #d2d2d2 1px solid;
    background: url('../../assets/icons/icon-google.png') center no-repeat;
  }
}

.PromoVideo {
  margin: 0 auto;
  display: block;
  width: 100%;
  max-width: 640px;
  height: 210px;
}

.SecurityInfo {
  text-align: center;
  font-size: 0.9rem;
  color: gray;
  width: 90%;
  margin: 0 auto;
  margin-top: 20px;

  a {
    display: block;
  }
  img {
    width: 170px;
  }
}

.ByContinueWith {
  width: 290px;
  margin: 10px auto;
  display: block;
  font-size: 0.9rem;
  line-height: 1.1rem;
  text-align: center;
}

.NotShare {
  margin-top: 5px;
  font-size: 0.8em;
  color: #909090;
  display: block;
  text-align: center;
}

.Policy {
  display: block;
  margin-top: 25px;
  text-align: center;

  a {
    text-decoration: underline;
  }
}

.SocialMediaWrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.SocialIcons {
  text-align: center;
  margin: 1.2em 0;
}

.Icon {
  display: inline-block;
  width: 2em;
  height: 2em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
  margin: 0 0.4rem;
  cursor: pointer;

  &.Facebook {
    color: #3b5999;
  }

  &.Twitter {
    color: #55acee;
    width: 2.2em;
  }

  &.Instagram {
    color: #e4405f;
  }

  &.Medium {
    color: #02b875;
  }
}

.Restart {
  margin: 1.5em 0;
  text-align: center;
}

.RestartLink {
  color: gray;
  font-size: 0.8rem;
}

@media (min-width: $lg) {
  .PromoVideo {
    margin: 0 auto;
    display: block;
    width: 100%;
    max-width: 640px;
    height: 360px;
  }

  .SecurityInfo {
    text-align: center;
    font-size: 0.9rem;
    color: gray;
    width: 90%;
    max-width: 450px;
    margin: 0 auto;
    margin-top: 20px;

    a {
      display: block;
    }
    img {
      width: 170px;
    }
  }

  .Container {
    max-width: 980px;
    padding-top: 110px;
  }

  .Signup {
    .FixedHeader {
      height: 80px;
      border-bottom: 0;
    }
  }

  .SocialBtnWrapper .Login {
    &:focus {
      outline-width: 3px;
    }
  }

  .ByContinueWith {
    width: 350px;
  }

  .SignupWrap {
    width: 350px;
    margin: 0 auto;
  }

  .Signup .Or {
    margin: 1.5em 0;
  }

  .Icon {
    &.Facebook {
      color: #686666;

      :hover {
        color: #3b5999;
      }
    }

    &.Twitter {
      color: #686666;

      :hover {
        color: #55acee;
      }
    }

    &.Instagram {
      color: #686666;

      :hover {
        color: #e4405f;
      }
    }

    &.Medium {
      color: #686666;

      :hover {
        color: #02b875;
      }
    }
  }

  .Restart {
    &:hover {
      opacity: 0.8;
    }
  }
}
