@import '../../styles/variables';

.Layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  transform: translate(0, 0, 0);
  transition: transform 0.25s ease;

  &.navOpen {
    transform: translateX(-100%);
  }
}

@media (min-width: $lg) {
  .Layout {
    flex-direction: row;

    &.navOpen {
      transform: translateX(-$nav-width);
    }
  }
}
