@import '../../styles/variables';

.Layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  transform: translateX(0);
  transition: transform 0.25s ease;

  &.navOpen {
    transform: translateX(-$nav-width);
  }
}

.Icon {
  display: inline-block;
  width: 3.5em;
  height: 3.5em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
  margin: 0 0.4rem;
  cursor: pointer;

  &:hover {
    color: $menu-links-hover;
  }
}

@media (min-width: $lg) {
  .Layout {
    flex-direction: row;
  }
}
