@import '../../styles/variables';

.Panel {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  // background-size: cover;
  // background-repeat: no-repeat;
}

.ImgPanel {
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.Full {
  height: 100vh;
  position: relative;
}

.Half {
  width: 100%;
  height: 50vh;
}

.Third {
  width: 100%;
  height: 33.33333333vh;
}

.TwoThirds {
  width: 100%;
  height: 66.66666667vh;
}

.Title {
  font-size: 1.9rem;
  letter-spacing: -1px;
  line-height: 1.235;
  color: #fff;
  margin: 0 10px 25px 10px;
  font-weight: 700;
  text-align: center;
}

.WithDesc {
  .Title {
    font-size: 1.5rem;
    margin-bottom: 0;
  }

  .Description {
    margin: 15px 20px 25px 20px;
    font-size: 1.2rem;
    text-align: center;
  }
}

@media (min-width: $lg) {
  .Panel {
    cursor: pointer;
  }

  .Title {
    font-size: 2.3rem;
    margin: 0 10px 40px 10px;
  }

  .WithDesc {
    .Description {
      margin: 15px 10px 25px 10px;
      max-width: 70%;
    }
  }

  .Full:hover svg,
  .Full:focus svg {
    fill: $menu-links-hover;
  }

  .Full:hover,
  .Full:focus {
    outline-width: 0;
  }

  .Half:hover,
  .Half:focus {
    outline-width: 0;
  }
  .Half:hover button,
  .Half:focus button {
    transition: background 0.3s ease-in, border 0.3s ease-out, transform 0.1s cubic-bezier(0.91, 0.8, 0.54, 1);
    background: $LayoutButtonOnHover;
    border-color: transparent;
  }

  .Full:first-child {
    width: 60%;
  }

  .Full:nth-child(2) {
    width: 40%;
  }
}
