@import '../../styles/variables';

.Panel {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  cursor: pointer;

  border: 1px solid black;
}

.Full {
  height: 100vh;
  position: relative;
}

.Half {
  width: 100%;
  height: 50vh;
}

.Title {
  font-size: 1.7em;
}

.Description {
  font-size: 1em;
  margin: 15px 0;
}

@media (min-width: $lg) {
  .Half:hover button {
    background: $LayoutButtonOnHover;
    border: none;
  }

  .Full:first-child {
    width: 60%;
  }

  .Full:nth-child(2) {
    width: 40%;
  }
}
