@import '../../styles/variables';

.Panel {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.Full {
  height: 100vh;
  position: relative;
}

.Half {
  width: 100%;
  height: 50vh;
}

.Title {
  font-size: 1.9rem;
  letter-spacing: -1px;
  line-height: 1.235;
  color: #fff;
  margin: 0 10px 25px 10px;
  font-weight: 700;
  text-align: center;
}

.WithDesc {
  .Title {
    font-size: 1.5rem;
    margin-bottom: 0;
  }

  .Description {
    margin: 15px 0 25px 0;
    font-size: 1.2rem;
    text-align: center;
  }
}

@media (min-width: $lg) {
  .Panel {
    cursor: pointer;
  }

  .Title {
    font-size: 2.3rem;
    margin: 0 10px 40px 10px;
  }

  .WithDesc {
    .Description {
      margin: 15px 10px 25px 10px;
    }
  }

  .Full:hover svg {
    fill: $menu-links-hover;
  }

  .videoLayout.Full:hover svg {
    fill: white;
  }

  .Half:hover button {
    // transition: background 0.3s ease-in, border 0.3s ease-out, transform 0.1s cubic-bezier(0.91, 0.8, 0.54, 1);
    background: $LayoutButtonOnHover;
    border-color: transparent;
  }

  .Full:first-child {
    width: 60%;

    &.videoLayout {
      width: 100%;
      transition: width 0.5s ease;
      background: rgb(235, 235, 235);

      .Title {
        display: none;
      }
    }
  }

  .Full:nth-child(2) {
    width: 40%;

    &.videoLayout {
      width: 0;
      opacity: 0;
      transition: opacity 0.3s ease, width 0.5s ease;
    }
  }
}
