.StripCheckout {
  margin-top: 50px;
  padding: 0 20px;
}

.StripeElement {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  background: white;
  padding: 10px 20px;
  border-radius: 5px;
}

.PayButton {
  height: 40px;
  background: #2be4b5;
  border: none;
  border-radius: 4px;
  color: #fff;
  font-weight: 600;
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  display: block;
  margin-top: 30px;
  cursor: pointer;
}

.DisableButton {
  background: #ccc;
  opacity: 0.85;
  border: 1px solid #ccc;
  transition: none;
  cursor: not-allowed;

  &:active {
    background: #ccc;
  }
}

.ErrorMessage {
  text-align: center;
  padding: 15px 10px;
  font-size: 1.2rem;
  color: #fd3030;
}
